################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MauiAppTestWebView/obj
/MauiAppTestWebView/MauiAppTestWebView.csproj.user
